.logo {
  height: 100px;
  float: left;
  margin-right: 20px;
}
.even{
  height: 100px;
  float: right;
  margin-right: 20px;
}
.odd{
  height: 100px;
  float: left;
  margin-right: 20px;
}
.green{
  height: 100px;
  float: right;
  margin-right: 20px;
}